<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bog's Books</title>
    <style>
        html {
            /* Moves the information to the center using flexboxes. */
            display: flex;
            justify-content: center;
            color-scheme: light dark;
        }

        body {
            /* For the entire page: gives the place a sensible width */
            max-width: 70ch;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bog's Books</h1>
    </header>
    <main>
        <p>
            I'm Bog and these are my books.
            I like to call my books "books" (bog + books) for short.

            I started making books when I was not a bog. bog bog bog bog bog
            bog bog bog bog bog. These are bold books and not your regular kind of 
            bog. Have you been to the bog before? We have one just downtown. 
        </p>
    </main>
</body>
</html>