---
import { Image } from 'astro:assets';
import OrnamentPng from './ornament.png'
import './style.scss'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSTAR's Website Workshop</title>
  </head>
  <body>
    <main>
      <h1>CSTAR's Website Workshop</h1>
      <Image src={OrnamentPng} width=500 height=16 alt="" role="presentation" />
      <p>
        Below are a few website templates. We have
        <a href="https://reed-cstar.github.io/guides/">guides on how to use people.reed.edu</a>,
        and a <a href="/website-workshop/cheatsheet/index.html">cheatsheet</a> on how to modify these
        templates.
      </p>

      <div class="templates">
        <div class="template">
          <div class="title">
            <h2>Card</h2>
            <span>
              <a href="/website-workshop/templates/card.html" download>download</a>
              <a href="/website-workshop/templates/card.html">preview</a>
            </span>
          </div>
          <p>
            A centered webpage with very little content.
            This template is nearly lifeless.
          </p>
        </div>
        <div class="template">
          <div class="title">
            <h2>Biography</h2>
            <span>
              <a href="/website-workshop/templates/biography.html" download>download</a>
              <a href="/website-workshop/templates/biography.html">preview</a>
            </span>
          </div>
          <p>
            A more styled webpage with writing space. Inspired by
            <a href="https://people.reed.edu/~crockera/">Alison Crocker</a> and
            <a href="https://people.reed.edu/~zdaugherty/">Zajj Daughtery</a>'s webpages.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
